/* Hours */
.hoursContainer {
    text-align: center;
    height: 80vh;
    font-size: 25px;
}

.hoursContainer .col-md-12 {
    margin: auto;
}

.hoursContainer .card {
    width: 75%;
    margin: auto;
}

.hoursContainer .card-header {
    width: 100%;
}