.inventory.container-fluid {
    margin-top: 96px;
}

/* Filter */
.form-select {
    color: black;
    background-color: #b7bcc2;
}

form .col-xs-12{
    padding: 15px;
}

.submitButtonCol {
    text-align: center;
}

.filterOptionsRow {
    padding-left: 10px;
    padding-right: 10px;
}

#filterInventoryBtn {
    color: white;
    background-color: #1d252c;
    border: none;
}

#clearFiltersBtn {
    color: black;
    background-color: #b7bcc2;
    border: none;
}

#clearFiltersBtn:hover, #filterInventoryBtn:hover {
    opacity: .85;
}

/* Inventory Container */
.inventoryContainer {
    text-align: center;
    overflow: scroll;
    margin-bottom: 85px;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.inventoryContainer div {
    margin: auto;
}

.defaultMessage {
    width: 100%;
}

/* Car Card */
.card-header {
    margin: 0 !important;
}

.card {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

/* Responsive sizing */
@media only screen and (min-width: 770px) and (max-width: 1000px){
    .inventory .footer {
        font-size: 15px;
    }
}
