/* Inventory Container */
.inventoryContainer {
    text-align: center;
    height: 80vh;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.inventoryContainer div {
    margin: auto;
}
