.inventory.container-fluid {
    margin-top: 96px;
}

/* Inventory Container */
.inventoryContainer {
    text-align: center;
    height: 80vh;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.inventoryContainer div {
    margin: auto;
}

/* Responsive sizing */
@media only screen and (min-width: 770px) and (max-width: 1000px){
    .inventory .footer {
        font-size: 15px;
    }
}
